.display {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content:space-between;
  position: absolute;
  left: 42%;
  top: 35%;
  width: 300px;
  margin-block: 10px;
  text-align: end;
  border: 1px solid;
  border-radius: 8px;
  padding-right: 8px;
  height: 55px;
}

.hist, .disp {
  margin: 0;
}

.hist {
  font-size: 15px;
  color: rgba(2, 2, 2, 0.507);
  font-weight: 900;
}

.disp {
  font-size: 30px;
}

.menu {
  display: grid;
  grid-template-columns: repeat(4, 70px);
  grid-auto-rows: minmax(40px, auto);
  gap: 10px;
  position: absolute;
  left: 42%;
  top: 45%;
}

#divi, #mult, #sub, #add, #AC, #signal, #perc, #del {
  background-color: lightgray;
}

#equal {
  background-color: rgba(128, 128, 128, 0.575);
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

button:active {
  border: 1px solid;
}